<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <behaviors>
            <serviceBehaviors>
                <behavior name="metadataBehaviour">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
  
      <services>
        <service behaviorConfiguration="metadataBehaviour" name="CalculatorLib.CalculatorService">
          <endpoint address="basic" binding="basicHttpBinding" name="BasicHttp" contract="CalculatorLib.ICalculator" />
          <endpoint address="ws" binding="wsHttpBinding" name="WSHttp" contract="CalculatorLib.ICalculator" />
          <endpoint address="basic2" binding="basicHttpBinding" name="BasicHttp_IAdvance" contract="CalculatorLib.IAdvanceCalculator" />
          <endpoint address="ws2" binding="wsHttpBinding" name="WSHttp_IAdvance" contract="CalculatorLib.IAdvanceCalculator" />
          <endpoint address="mex" binding="mexHttpBinding" name="MetadataExchange" contract="IMetadataExchange" />
        </service>
        <service name="CalculatorLib.FullCalculatorService" behaviorConfiguration="metadataBehaviour">
          <endpoint address="basicFull" binding="basicHttpBinding" name="BasicHttp_Full" contract="CalculatorLib.IFullCalculator" />
          <endpoint address="wsFull" binding="wsHttpBinding" name="WSHttp_Full" contract="CalculatorLib.IFullCalculator" />
          <!--<endpoint address="mex" binding="mexHttpBinding" name="MetadataExchange" contract="IMetadataExchange" />-->
        </service>
      </services>
        
    </system.serviceModel>
</configuration>
