@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<tr>
    <td>
        <form method="post">
            <span>Id</span>
            <input type="text" name="UserId" />
            <br />
            <span>Password</span>
            <input type="password" name="Password" />
            <br />
            <input type="submit" value="Login" />
            <span>Hobbies</span>
            <br />
            <input type="checkbox" name="hobbies" value="Cricket" />
            <span>Cricket</span>
            <br />
            <input type="checkbox" name="hobbies" value="Football" />
            <span>Football</span>
            <br />
            <input type="checkbox" name="hobbies" value="Kabadi" />
            <span>Kabadi</span>
            <br />
            <input type="checkbox" name="hobbies" value="Volleyball" />
            <span>Volleyball</span>
            <br />
            <input type="checkbox" name="hobbies" value="Hockey" />
            <span>Hockey</span>
        </form>
    </td>
</tr>